
<div class="container-edit-form">
<h2>Add your flat:</h2>
  <%= simple_form_for @flat do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :price_per_night %>
    <%= f.input :number_of_guests %>
    <%= f.input :image %>
    <%= f.submit %>
  <% end %>
</div>
