<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <%= link_to 'ðŸ¡ðŸ’• Liarbnb', flats_path, class: 'navbar-logo' %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="ms-auto d-flex">
          <%= form_tag "/flats", method: "GET", class: "d-flex my-2 my-lg-0" do %>
           <%= text_field_tag :search_flat, params[:search_flat], class: "form-control mx-2", placehodler: 'Search..'  %>
            <%= submit_tag "Search", class: "btn btn-red mx-2 rounded" %>
          <% end %>
          <%= link_to "Add flat", new_flat_path, class: "btn btn-white my-2 my-sm-0 ms-2" %>
        </div>
      </div>
      </div>
    </nav>


    <%= yield %>
  </body>
</html>
